// All custom CSS code.
@import './bootstrap-overwrite.scss';
.App { 
    background: url(images/extra.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    .card {
        background-image: linear-gradient(45deg, rgb(15, 241, 184), rgb(159, 21, 252));
        
        
        .card-body {
        
                .input{
                    background-color: rgba(255, 166, 0, 0.550);
                    color: black;
                    border: 2px;
                    border-radius: 12px;
                }
                .inputBtn { 
                    background-color: rgba(255, 166, 0, 0.750);
                    margin-left: 5px;
                    margin-bottom: 5px;
                    border: 2px;
                    border-radius: 12px;
                    &:hover {
                            background-color: rgb(255, 166, 0);
                            border-color: yellow;
    }
                }
                .list-container {
                   border: 1px solid black;
                   padding: 5px;
                   .deleteBtn {
                        margin: 5px;
                        border: 2px;
                        border-radius: 12px;
                        background-color: rgba(255, 0, 0, 0.750);
                    &:hover {
                        background-color: red;
                    }
            
                   }
                   .listItem {
                    background-color: rgba(121, 252, 252, 0.515);
                    margin: 5px;
                    border-radius: 12px;
                    
                   }
                }
            
        }
    }
}
html {
    background: url(./images/ben-o-bro-wpU4veNGnHg-unsplash.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;}

// after code ise done import styles.......other nonbootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';